<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="../public/css/">

<body>
       
    
    
    
    
    
    
    <div class="row achievements">
           <div class="col-lg-2">, j j g</div>
           <div class="col-lg-2"></div>
           <div class="col-lg-2"></div>
           <div class="col-lg-2"></div>
           <div class="col-lg-2"></div>
           <div class="col-lg-2"></div>
       </div>
<form>
       <input type="hidden" class="idpersonal" value="<%=prods._id %>" name="ID" >
    </form>  
       <script type="text/javascript" src="/achievements.js"></script>     
<% include ../partials/footer %>