<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/allcards.css">
<body>
	
      <% if(isAuth)
         { %>


        
		<div class="row">
			<div class="col-lg-4 " style="background-color: white;"></div>
			<%=prods.username%>
		</div>
		<%}
		%>

		
		

<% include ../partials/footer %>
