<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/allcards.css">
<link href="https://fonts.googleapis.com/css?family=Archivo|Viga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo|Julius+Sans+One|Viga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap:400,600|Comfortaa:400,700&display=swap" rel="stylesheet">


<style>
	.skills{
		border-radius: 25px;
		cursor: pointer;
		box-sizing: border-box;
		border-color: 2px solid black;
		border: 2px black;
		margin-bottom: 2px;;
		margin-right: 10px;
		margin-top: 10px;;
	}
	.jumbotron{
		background-color: white;
	}
	.bio-box{
		box-sizing: border-box;
		border: 2px solid black;
		height: 400px;
		width: 200px;
		margin-left:3%;
		margin-top: 10px;
		margin-bottom: 10px;;
		
	}
	.profile-photo{
		height: 200px;
		width: 200px;
		background-color: blanchedalmond;
		border-radius: 50%;
		margin-top:20px;
		
		
		

	}
	.heading-skills{
		font-family: 'Rubik', sans-serif;
		font-size: 20px;;
		font-weight: 100;
		font-style: bold;
		cursor:pointer;
	}
	.sections-profile{
		font-family: 'Comfortaa', cursive;
		font-weight: 600;
		font-size: 30px;
		height:20vh;
	}
	
</style>
<body style="background-color:#f5f5f5;">
	<div class="jumbotron jumbotron-fluid" style="box-sizing: border-box; box-shadow: 0px 0px 15px rgb(214, 212, 212);" ></div>
	<div class="row"><div class="col-lg-12" style="height: 70px;background-color: white;transform: translateY(-24px);box-sizing: border-box; box-shadow: 0px 0px 15px rgb(214, 212, 212);;">
		<ul style="display: flex;flex-direction: row;justify-content: space-between;list-style: none;justify-content: space-around;padding-top: 20px;">
				<li>EXPERIENCE</li>
				<li>PROJECTS</li>
				<li>ACHIEVEMENTS</li>
				<li>HOME</li>
				<li>LOGOUT</li>
		</ul>
		
	</div> </div>
	
	
      <% if(isAuth)
         { %>
			  
			
			<div class="row" style="display: flex;">
					
				<div class="col-lg-5 col-md-4" style="background-color: white;box-sizing: border-box; box-shadow: 0px 0px 15px rgb(214, 212, 212);border-radius: 20px;">
					
					
							<center><a href="/skillspage/<%=prods._id%>">Add a Skill</a>></center>
						 
							   
					

					<div class="row" style="margin:100px 30px;display: flex;justify-content: center;background-color: white;padding: 10px 10px;">
			   
							<% for(product in prods.skills)
							{%>
								<div  class="skills"  style="width: 200px;height: 50px;background-color :#f5f5f5;"><%=prods.skills[product]%> 
									<form method="POST" action="/delete">
									<button class="btn" type="submit">Delete</button>
									<input type="hidden" value="<%=prods.skills[product]%>" name="specificskill">
									<input type="hidden" value="<%=prods._id%>" name="ID">
								</form></div>
							<%}
								
							%></div>
			</div></div><%}
		%>

		
		

<% include ../partials/footer %>
