<% include ../partials/header %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/landing.css">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext" rel="stylesheet">
<body>

	<div class="navbar" style="list-style: none;">
		
		<li><a href="" style="text-decoration: none;" >Home</a>
			
		</li>
		<li>
			<a href="/login" style="text-decoration: none;" >Login</a>
		</li>
        <li>
			<a href="/Register" style="text-decoration: none;" >Register</a>
		</li>
		<li>
			<a href="" style="text-decoration: none;" >About Developer</a>
		</li>
       

<!-- GO-->
	
</div>

<section>

<div style="justify-content: center;display: flex;align-items: center;">
	<h1 >CONNECT X</h1>
	
</div>	



</section>
<h2>
		ABOUT CONNECT X
		<hr>
	</h2>
<div class="about" style="margin-top: 119px;">
	<div class="row" style="display: flex;;justify-content: center;justify-content: space-around;">
	<div  class="col-lg-3 col-md-12 col-xs-12">
		
	</div>
	<div class="col-lg-3 col-md-12 col-xs-12">
		
	</div>
	<div class="col-lg-3 col-md-12 col-xs-12">
		
	</div>
	</div>
</div>
<div class="major2" style="display: flex;flex-direction: column;">
	<h3 style="transform:translateY(400px);align-content: right;">
		HOW &nbsp&nbsp&nbsp<span style="font-weight: 100;">TO</span>

	</h3>
	
</div>
<div class="about major3">
	<div class="row">
		<div class="col-lg-8"  style="height: 800px;"></div>
	</div>

	
</div>

    <div class="middle1" >
      <a class="btn3" href="#"  style="margin-right: 20px;">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    </div>
	
	





<% include ../partials/footer %>
