
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/people.css">
<body>
	<center><div class="mainh" style="font-family: 'Raleway',sans-serif;font-size: 35px;font-weight: 100; letter-spacing: 0.002em;padding-top: 2% "><b>FIND YOUR MATE</b></div></center>
	
	<div class="container">
		<div class="card-wrapper">
			<div class="card">
				<img src="11.jpg" alt="card background" class="card-img">
				<img src="steve-jobs--david-paul-morrisbloomberg-via-getty-images.jpg" alt="profile-image" class="profile">
				<h1>STEVE JOBS</h1>
				<p class="">APPLE FOUNDER AND A LEGACY HOLDER</p>
			</div>
			<div class="card">
				
				<img src="steve-jobs--david-paul-morrisbloomberg-via-getty-images.jpg" alt="profile-image" class="profile">
				<h1>STEVE JOBS</h1>
				<p class="">APPLE FOUNDER AND A LEGACY HOLDER</p>
			</div>
			<div class="card">
				<img src="11.jpg" alt="card background" class="card-img">
				<img src="steve-jobs--david-paul-morrisbloomberg-via-getty-images.jpg" alt="profile-image" class="profile">
				<h1>STEVE JOBS</h1>
				<p class="">APPLE FOUNDER AND A LEGACY HOLDER</p>
			</div>
		</div>

	</div>
	
<% include ../partials/footer %>