
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/people.css">
<body>
        <form>
                <div class="form-group" method="POST" action="/addskill">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="text" class="form-control" name="skill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
	
<% include ../partials/footer %>