.form-group input{
	border-radius: 25px;
	width: 400px;
}

.col-lg-6{
	background-color: white;margin-top: 15%;
	height: 450px;
	margin-left: 2%;
	margin-right: 2%;
	border-top-right-radius:  10% 50%;
	border-bottom-right-radius: 10% 50%;

}
body{
	overflow-x: hidden;
background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
background-size: 100% 150%;
	
	height: 100vh;
	
}
h1{
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
}
 #btn{
background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  border: 0px solid white;
    outline-style:0px ;
   outline: none;
   border-radius: 25px;
   width: 100px;
}
.col-lg-5
{
	margin-top: 15%;

}
@media screen and (max-width:500px)
{
    .col-lg-6{

border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	padding: 0px 10px;
	transform: translateX(-25px);
	}
	.form-group input{
		width: 300px;
	}
	.form-text{
		font-size:15px;
	}

	.register-btn{
		transform: translateY(-20px);
	}
	.col-lg-5{
		transform: translateX(-15px);
	}
}