body{

		background-color: #fff;
	background-size: 400% 400%;
	position: relative;
	height: 100vh;
	position:relative;
	height: 100vh;
	width: 100%;
	animation: change 2s ease-in-out infinite;
}
.col-lg-5{
	background-color: aliceblue;
}
.col-lg-7{
	background-color: aliceblue;
}

.profilebg{
	
	
	background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
		background-color: #fff;
	background-size: 400% 400%;


}
html,body{
	overflow-x: hidden;
}
@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}

}
